//Fonts
$Montserrat: "Montserrat-Regular";
//====== colors
$mainTextcolor: #000000;

$headerBgColor: rgba(31, 32, 33, 0.79);
$linkColor: #ffffff;
$headerTextColor: #ffffff;

$cardBgColor: #F3F3F3;
$cardDiscountColor: #E52D2D;
$cardBtnColor: #6EBBD3;
$cardBtnInactiveColor: #1F2021;
$cardBtnHoverColor: #6eccd3;
$cardBtnActiveColor: #d36e6e;
$cardBtnTextColor: #ffffff;
$cardInactiveLikeColor: rgba(255, 255, 255, 0.5);;
$cardActiveLikeColor: #ffffff;

$btnBorder: #CACACA;
$btnBorderHOver: #000000;

$footerBackgroundColor: #1F2021;
$footerTextColor: #ffffff;
$sendFormBtn: #6EBBD3;
$sendFormBtnHover: #6eccd3;

$hamburgerMenuBackgroundColor: #6EBBD3;
$hamburgerMenuBackgroundColorHover: #6ECCD3;

$bgGoTopColor:#376589;